.new {
  width: 100%;
  display: flex;

  .newContainer {

     width:100%;
    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .right {
        padding: 0px 20px;
        width:100%;
        margin:10px;
        justify-content: center;
        form {
          width:100%;
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: center;

          .selectRooms{
            width: 100%;

            select{
              width: 100%;
              padding: 10px;
            }
          }

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
